.prose {
  margin-bottom: 2rem;
}

.prose h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.prose h2:first-of-type {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 0;
  color: #333;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 0.5rem;
}

.prose h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.prose p {
  margin-bottom: 1.5rem;
}

.prose pre,
.prose code {
  margin-bottom: 1.5rem;
}

.prose ul,
.prose ol {
  margin-bottom: 1.5rem;
}

.prose blockquote {
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}
